body {
    padding: 40px 10px;
    font-family: Lucida Grande, Helvetica, Arial, Verdana, Sans-Serif;
    font-size: 14px;
}

.title {
    text-align: center;
}

.calendar {
    max-width: 1100px;
    margin: 0 auto;
}